# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# @changed 2023.07.14, 02:12

# dependencies
/node_modules
/.pnp
.pnp.js
.gitmodules

# data files
data/data.json
data/attributes.txt

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# Dev-cycle files
*.session
*.session-tabs
*crashed-session*
tsconfig.tsbuildinfo

# Temporariy, swap, log & ignored files
*UNUSED
*_
*~
.*.sw?
*.tmp
*.zip
*.tgz
*.log
*crashed-session*

# Git conflicts
*_BASE_*
*_LOCAL_*
*_BACKUP_*
*.ORIG
*.orig

# Special exclusions
!__mocks__
!__tests__
