{
  "list": [
    {
      "cFirstName": "JONATHON PAUL",
      "cSurname": "BRUSSOW",
      "dDateOfBirth": "1966-03-29",
      "cAddress1": "586 Stockleigh Road",
      "cAddress2": "Stockleigh",
      "cPostCode": "4280",
      "cTelephone2": "0472880786",
      "cTFN": "866855491",
      "ACCNUM": "HASTOBE9DIGITS",
      "AdressOnATO": "need to save",
      "SuperMember": "id",
      "Email": "email@domain.com"
    },
    {
      "cFirstName": "FRANCISKO BAREND",
      "cSurname": "DU PLESSIS",
      "dDateOfBirth": "1957-12-18",
      "cAddress1": "48 Monivae Circuit",
      "cAddress2": "Eagleby",
      "cPostCode": "4207",
      "cTelephone2": "0472880786",
      "cTFN": "892763917",
      "ACCNUM": "HASTOBE9DIGITS",
      "AdressOnATO": "need to save",
      "SuperMember": "id",
      "Email": "email"
    }
  ]
}
